<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <p>Hello World ! ! !</p>
        <main class="main-content">
            <section class="section">
              <div class="container">
                <div class="gallery">
                  <!-- Image cards -->
                </div>
              </div>
            </section>
          </main>
    </main>
    <script type="module" src="./js/sample.js"></script>
</body>
</html>